#system files
.ipynb_checkpoints
.mypy_cache
__pycache__
.idea
.terraform
venv

#folders
week1/pgadmin/*
week1/pgdata/*
week_5/oficial_repo/*
Project/airflow/logs/*
Project/notebooks/kernels
Electricity
Gas

#files
scripts.sh
google_credentials.json
Project/**/*.csv
Project/**/*.parquet
kaggle.json
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup


#security
config/config.ini
**/key/*



